#nav {
  width: 100px;
  height: 100px;
  background: violet;
}
#nav {
  width: 100px;
  height: 100px;
  background: violet;
}
/* @import  位置可以随便放*/
/* reference  导入 但是不编译  @import(reference) "bootstrap.less" */
/* once ,@improt(once) 相同文件只会呗导入一次，而随后的导入文件的重复代码不会被解析*/
/* multiple ,@import(multiple)允许导入毒讴歌同名文件 */
